@import 'plugins';

.toggle {
    transition-property: left;
    transition-duration:  0.5s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    font-size: 30px;
    color: black;
    @include position(fixed, 20px null null 0px);
    z-index: 1;
}

.sidebar {

    transition-property: left;
    transition-duration:  0.5s;
    transition-timing-function: ease-in-out;
    @include position(fixed, 0px 0px 0px -190px);
    z-index: 0;
    width: 120px;
    padding: 30px;
    background: #333;

    li {
        list-style: none;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        margin-bottom: 16px;
        -webkit-font-smoothing: antialiased;
        cursor: pointer;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}

#sidebartoggler {
    display: none;

    &:checked + .pagewrap {
        

        .sidebar {
            transition-property: left;
            transition-duration:  0.5s;
            transition-timing-function: ease-in-out;
            left: 0px;
        }

        .toggle {
            transition-property: left;
            transition-duration:  0.5s;
            transition-timing-function: ease-in-out;
            left: 200px;
        }
    }
}

$neat-grid: (
  columns: 8,
  gutter: 1rem,
  direction: ltr,
);

.container {
    width:500px;

    .boxes {
        @include grid-container;
      }
      .box {
        @include grid-column(2);
        background: red;
        height: 100px;
      }
}
